<!-- mapbox -->

  <div id="map"></div>

  <script>
		L.mapbox.accessToken = 'pk.eyJ1IjoibXItZWF6ZSIsImEiOiJoZktRWmtzIn0.4hNlGrOoT3rmNXit3ZM9EQ';
		
		var map = L.mapbox.map('map', 'mr-eaze.e70a5ac4').setView([ <%= @business_profile.latitude %>, <%= @business_profile.longitude %> ], 15);
		
		L.mapbox.featureLayer({
	    // this feature is in the GeoJSON format: see geojson.org
	    // for the full specification
	    type: 'Feature',
	    geometry: {
	        type: 'Point',
	        // coordinates here are in longitude, latitude order because
	        // x, y is the standard for GeoJSON and many formats
	        coordinates: [
	          <%= @business_profile.longitude %>,
	          <%= @business_profile.latitude %> 
	        ]
	    },
	    properties: {
	        title: '<%= @business_profile.business_name %>',
	        description: '<%= @business_profile.address %>',
	        // one can customize markers by adding simplestyle properties
	        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
	        'marker-size': 'large',
	        'marker-color': '#F5F5F5',
	        // 'marker-symbol': 'cafe'
	    }
		}).addTo(map);

	</script>

<!-- business -->

<h2> <%= @business_profile.business_name %> </h2>

<!-- about -->

<div class="container group about">
	<div class="profile container">
		<div class="profile label" > business type : </div>
		<div class="profile data"> <%= @business_profile.business_type %> </div>
	</div>

	<div class="profile container">
		<div class="profile label" > cuisine style : </div>
		<div class="profile data"> <%= @business_profile.cuisine_style %> </div>
	</div>

	<div class="profile container">
		<div class="profile label" > dietary offerings : </div>
		<div class="profile data"> <%= @business_profile.dietary_offerings %> </div>
	</div>

	<div class="profile container">
		<div class="profile label" > description : </div>
		<div class="profile data"> <%= @business_profile.description %> </div>
	</div>
</div>

<!-- contact -->

<div class="container group contact">
	<div class="profile container">
		<div class="profile label" > website : </div>
		<div class="profile data"> <%= @business_profile.website_url %> </div>
	</div>

	<div class="profile container">
		<div class="profile label" > phone : </div>
		<div class="profile data"> <%= @business_profile.phone_number %> </div>
	</div>
</div>

<!-- address -->

<div class="container group address">
	<div class="profile container">
		<div class="profile label" > address : </div>
		<div class="profile data"> <%= @business_profile.address %> </div>
	</div>
</div>

<!-- lat-long -->

<div class="container group lat-long">
	<div class="profile container">
		<div class="profile label" > latitude : </div>
		<div class="profile data"> <%= @business_profile.latitude %> </div>
	</div>
	
	<div class="profile container">
		<div class="profile label" > longitude : </div>
		<div class="profile data"> <%= @business_profile.longitude %> </div>
	</div>
</div>

<!-- social networks -->

<div class="container group social">
	<% if @business_profile.twitter %>
		<div class="profile container">
			<div class="profile label" > twitter : </div>
			<div class="profile data"> <%= @business_profile.twitter %> </div>
		</div>
	<% end %>

	<% if @business_profile.facebook %>
		<div class="profile container">
			<div class="profile label" > facebook : </div>
			<div class="profile data"> <%= @business_profile.facebook %> </div>
		</div>
	<% end %>

	<% if @business_profile.instagram %>
		<div class="profile container">
			<div class="profile label" > instagram : </div>
			<div class="profile data"> <%= @business_profile.instagram %> </div>
		</div>
	<% end %>

	<% if @business_profile.foursquare %>
		<div class="profile container">
			<div class="profile label" > foursquare : </div>
			<div class="profile data"> <%= @business_profile.foursquare %> </div>
		</div>
	<% end %>
</div>

<!-- end -->














