<h2> <%= @business_profile.business_name %> </h2>

<hr>

<p> <%= @business_profile.type_of_business %> </p>
<p> <%= @business_profile.cuisine_style %> </p>
<p> <%= @business_profile.dietary_offerings %> </p>

<hr>

<p> <%= @business_profile.price_range %> </p>
<p> <%= @business_profile.rating %> </p>
<p> <%= @business_profile.description %> </p>

<hr>

<p> <%= @business_profile.website_url %> </p>
<p> <%= @business_profile.phone_number %> </p>

<hr>

<p> <%= @business_profile.country %> </p>
<p> <%= @business_profile.state %> </p>
<p> <%= @business_profile.city %> </p>
<p> <%= @business_profile.zipcode %> </p>
<p> <%= @business_profile.address1 %> </p>
<p> <%= @business_profile.address2 %> </p>

<hr>

<p> <%= @business_profile.twitter %> </p>
<p> <%= @business_profile.facebook %> </p>
<p> <%= @business_profile.instagram %> </p>
<p> <%= @business_profile.foursquare %> </p>
