<h2> <%= @user_profile.user_name %> </h2>

<hr>

<p> <%= @user_profile.first_name %> </p>
<p> <%= @user_profile.last_name %> </p>

<hr>

<p> <%= @user_profile.diet %> </p>
<p> <%= @user_profile.gender %> </p>
<p> <%= @user_profile.age %> </p>

<hr>

<p> <%= @user_profile.twitter %> </p>
<p> <%= @user_profile.facebook %> </p>
<p> <%= @user_profile.instagram %> </p>
<p> <%= @user_profile.foursquare %> </p>
